<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:p="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf!</title>
</head>
<body>
<shiro:principal/>
<p th:text="'Hello, ' + ${name} + '!'" />

<!--界面元素权限控制-可以以角色编码或权限码-->
<shiro:hasRole name="admin">
        <span style="color: red" >hello,admin</span>
</shiro:hasRole>

<shiro:hasPermission name="admin:manage">
    <span style="color: red" >您有管理员权限</span>
</shiro:hasPermission>
<p th:text="${realName}" />

<script th:inline="javascript">
    var message = [[${realName}]];
    console.log(message);
</script>

</body>
</html>